@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "mequran";
  src: url("../me_quran.ttf");
  font-weight: bold;
}

:root {
  --bg-color: #040c23;
  --primary: #863ed5;
  --secondary: #a19cc5;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

.navbar {
  background-color: #121931;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav {
  display: flex;
  padding: 1.2rem 7%;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-nav .logo a {
  color: var(--primary);
  font-size: 2rem;
}

.navbar .navbar-nav .logo a span {
  color: var(--text-color);
}

.navbar .navbar-nav .navbar-item a {
  font-size: 1.5rem;
  color: var(--text-color);
}

.navbar .navbar-nav .navbar-item a::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 0.5rem;
  transform: scaleX(0);
}

.navbar .navbar-nav .navbar-item a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s;
}

.navbar .navbar-extra {
  display: flex;
  padding: 0 7%;
  justify-content: space-between;
}
.navbar .navbar-extra .extra-item {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}

.navbar .navbar-extra .extra-item i {
  font-size: 2rem;
  color: var(--secondary);
  background-color: var(--text-color);
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.navbar .navbar-extra .extra-item p {
  color: var(--text-color);
  font-weight: 100;
}

.container {
  margin-top: 14rem;
  padding: 0 7%;
}

.container .section .alquran {
  color: var(--text-color);
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}
table.striped tr {
  border-bottom: 1px solid #7b80ad;
}

.no_s {
  width: 3.5rem;
  height: 3.5rem;
  background: url(/src/img/icon-number.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30%;
}

/* table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
} */

tr {
  cursor: pointer;
}

td,
th {
  padding: 15px 5px;
  text-align: center;
  border-radius: 2px;
}

/* SURAH.HTML */

.list-item {
  display: flex;
  border-bottom: 0.02em solid #6c757d;
  padding-bottom: 10px;
}

.list-item:last-child {
  border-bottom: none;
}

.item-icon {
  flex-basis: 13%;
  text-align: center;
}

.item-icon .no-ayat,
.item-icon i {
  margin-top: 1.4em;
}

.item-teks {
  flex-basis: 75%;
}

.teks-arab {
  font-family: "mequran";
  color: var(--text-color);
  text-align: right;
  margin-top: 1.2em;
  font-size: 3em;
  line-height: 2em;
  margin-bottom: 1em;
}
.teks-indo {
  color: var(--secondary);
}
.no-ayat {
  /* border: 2px solid #218838; */
  background: url(/src/img/icon-number.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 0.5em;
  padding-top: 20%;
}

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
}
